<% content_for :title, "Reset Password" %>

<div class="container">
  <h1>Reset Password</h1>

  <p>Enter your email address and we'll send you instructions to reset your password.</p>

  <%= form_with url: reset_password_start_path, method: :post, local: true do |form| %>
    <div class="form-group">
      <%= form.label :email, "Email Address" %>
      <%= form.email_field :email, required: true, autofocus: true, placeholder: "Enter your email address" %>
    </div>

    <%= form.submit "Send Reset Instructions", class: "btn" %>
  <% end %>

  <div class="text-center mt-3">
    <%= link_to "Back to Sign In", login_path %>
  </div>
</div>
